<h1>confirmation screen</h1>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <p>Image：<%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %></p>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :writing %>
  <p>本文：<%= @feed.writing %></p>
  <%= form.submit %>
<% end %>
<%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :writing %>
  <%= form.submit "back", name: "back" %>
<% end %>