<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <% unless @feed.image.blank? %>
   <%= image_tag @feed.image.url %>
  <% end %>
  本文：<%= @feed.writing %>
</p>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>